/* Minimo que ocupe el body toda la altura de ventana */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--space-cadet);
    background-image: url("https://www.transparenttextures.com/patterns/navy.png");
}

/* Hago que el main coja todo el espacio posible, dejando pegado arriba el header y abajo pegado el footer */

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

/* Titulo de me gusta */

.titleFavorites {
    padding: 10px 20px;
    background-color: var(--white-smoke);
    box-shadow: 0 0 5px var(--black);
    border-radius: 20px;
    margin: 0px auto;
    text-align: center;
}

/* Mensaje en caso de no tener animes en me gusta */

.text {
    font-family: Lato-Regular, Arial, Helvetica, sans-serif;
    background-color: var(--white-smoke);
    box-shadow: 0px 0px 5px var(--black);
    padding: 20px;
    border-radius: 20px;
}

/* Div de animes */

.container-fluid {
    width: 90vw;
}

.containerAnime {
    display: grid;
    gap: 48px ;
    margin: 0 auto;
}

/* Div de cada anime */

.anime {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    margin: 0px auto;
}

/* Boton para borrar anime */

.deleteAnime {
    position: absolute;
    top: 25px;
    margin-left: 40px;
    border-radius: 100%;
    transform: scale(1);
    color:  var(--white) ;
    background-color: var(--turkey-red);
    border: none;
    box-shadow: 0px 0px 5px black;
    transition: all 0.3s ease-in-out;
}

.deleteAnime:hover {
    transform: scale(1.15);
    background-color: var(--engineering-orange);
}

/* Portada de cada anime */

.anime img {
    height: 320px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--battleship-gray);
    margin: 10px;
    transition: all 0.4s ease-in-out;
}

/* Titulo de cada anime */

.anime h5 {
    color: var(--white-smoke);
    font-family: Asap, Arial, Helvetica, sans-serif ;
    font-weight: 500;
    margin: 0px 10px;
    transition: all 0.4s ease-in-out;
}

/* Media */

@media (max-width: 575px) {
    .containerAnime {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 576px) and (max-width: 819px) {
    .containerAnime {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 820px) and (max-width: 1089px) {
    .containerAnime {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: 1090px) and (max-width: 1399px) {
    .containerAnime {
        grid-template-columns: repeat(4,1fr);
    }
}

@media (min-width: 1400px) {
    .containerAnime {
        grid-template-columns: repeat(5,1fr);
        justify-content: center;
    }
}

